<h2>Login</h2>

<form method="POST" action="/login">

    {{#if errorMessage}}
    <p class="warning">
        {{errorMessage}}
    </p>
    {{/if}}

    <label>Email: 
        <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
    </label>

    <label>Password: 
        <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit"> Login </button>


    <div class="info">
        <p>Or click <a href="/signup">here</a> to sign up.</p>
    </div>

</form>